<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rezervacni system pro barberShopy">
    <meta name="author" content="JV Systems">
    <title>YAYA</title>
</head>

<body>
 <table id="dataTable" width="100%" cellspacing="0">
     <thead>
         <tr>
             <th>ID</th>
             <th>Jméno</th>
             <th>Příjmení</th>
             <th>Email</th>
             <th>Poznámka</th>
         </tr>
     </thead>
     <tbody>
        {% for k in data %}
            <tr>
                <td>{{ k.id }}</td>
                <td>{{ k.name }}</td>
                <td>{{ k.surname }}</td>
                <td>{{ k.email }}</td>
                <td>{{ k.internal_desc }}</td>
            </tr>
        {% endfor %}
     </tbody>
 </table>
</body>
